@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Cambon;
        font-weight: 700;
        src: url('/fonts/cambon/Cambon-Bold.woff2') format("woff2"),
        url('/fonts/cambon/Cambon-Bold.woff') format("woff");
    }
    @font-face {
        font-family: Spezia;
        font-weight: 400;
        src: url('/fonts/spezia/SpeziaWeb-Regular.woff2') format("woff2"),
        url('/fonts/spezia/SpeziaWeb-Regular.woff') format("woff");
    }
    @font-face {
        font-family: Spezia;
        font-weight: 500;
        src: url('/fonts/spezia/SpeziaWeb-Medium.woff2') format("woff2"),
        url('/fonts/spezia/SpeziaWeb-Medium.woff') format("woff");
    }
    @font-face {
        font-family: Spezia;
        font-weight: 600;
        src: url('/fonts/spezia/SpeziaWeb-SemiBold.woff2') format("woff2"),
        url('/fonts/spezia/SpeziaWeb-SemiBold.woff') format("woff");
    }
}